<div class="floating-menu" *ngIf="showMenu">
    <div class="buttons">
        <button>
            <a href="https://www.linkedin.com/in/irene-huebra/" target="_blank" aria-label="LinkedIn" data-social="linkedin" rel="noopener noreferrer">
                <div class="filled"></div>
                <img src="../assets/LinkedInLogo.png" alt="LinkedIn" class="initial-img">
                <img src="../assets/LinkedInLogoWhite.png" alt="LinkedIn" class="white-img">
                <div class="title">LinkedIn</div>
            </a>
        </button>
        <button>
            <a href="https://github.com/ihuebrag" target="_blank" aria-label="GitHub" data-social="github" rel="noopener noreferrer">
                <div class="filled"></div>
                <img src="../assets/GitHubLogo.png" alt="GitHub" class="initial-img">
                <img src="../assets/GitHubLogoWhite.png" alt="GitHub" class="white-img">
                <div class="title">GitHub</div>
            </a>
        </button>
        <button>
            <a href="mailto:irene@huebra.es" target="_blank" aria-label="Email" data-social="email" rel="noopener noreferrer">
                <div class="filled"></div>
                <img src="../assets/EmailLogo.png" alt="Email" class="initial-img">
                <img src="../assets/EmailLogoWhite.png" alt="Email" class="white-img">

                <div class="title">Email</div>
            </a>
        </button>
    </div>
</div>
