
/* Import a modern font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* General layout */
main {
  background-image: url(src\assets\canvaDesign.png);
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image horizontally and vertically */
  background-repeat: repeat; /* Prevents the image from repeating */
  font-family: 'Montserrat';
  margin: 0;
  background-color: #FF914D;
  color: #333;
  max-width: 100%;
  border-radius: 10px;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
  color: rgb(255, 240, 213);
}

#name {
  font-size: 24px;
  font-weight: 700;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#menu li {
  margin-left: 20px;
  right: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

#menu li:hover {
  color: #ffeeb5;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

/* Welcome section */
.welcomeSection {
  text-align: center;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  margin: 40px 0;
  color: rgb(255, 255, 255);
}

.welcomeSection h1 {
  font-size: 60px;
  margin-bottom: 20px;
  grid-row: 1;
  grid-column: span 4;
}

.welcomeSection img {
    grid-row: 2;
    grid-column: 1;
    max-width: 100%;
    height: auto;
}

.imageCrop {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.welcomeSection p {
  font: inherit;
  font-family: inherit;
  font-size: 18px;
  color: rgb(255, 240, 213);
  grid-row: 2;
  grid-column: 2/4;
  padding-left: 2%;
  text-align: end;
}


/* Projects section */
  .projectTitle {
    font-size: 45px;
    color: rgb(255, 255, 255);
  }

  .projects-container {
    padding: 8px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: max-content;
    background-color: rgb(255, 240, 213, 0.75);
  }
  
  .card {
    border-radius: 16px;
    padding: 15px;
    margin: 2%;
    perspective: 1000px;
    flex-wrap: wrap;
    border: none;
    width: 68vh;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }
  
  .card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .card_inner > .card_front {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow:visible;
  }
  .card_inner > .card_back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow:visible;
  }
  
  .card:hover .card_inner {
    transform: rotateY(180deg);
  }
  
  .card_front, .card_back {
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
  }
  
  .card_front {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_back {
    background-color: #fff;
    transform: rotateY(180deg);
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  .card_title {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }
  
  .card_date {
    margin-top: 2%;
  }
  .card__description {
    font-size: 14px;
    color: #777;
    line-height: 2;
    text-align: center;
  }
  
  .card a {
    font-size: small;
    color: #007bff;
    text-decoration: none;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  
  /* Disclaimer section */
  .disclaimer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4vh;
    padding: 5%;
    background-color: rgb(255, 240, 213, 0.75);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .disclaimer h3 {
    font-size: 18px;
    padding-left: 5%;
    font-size: 1.5vw;
    color: #FF914D;
    margin: 1vh 0;
  }
  .disclaimer li {
    color: #FF914D;
    font-weight: 500;
    margin: 1vh 0;
    list-style: none;
  }
  .disclaimer a {
    text-decoration: none;
    color: #ff6200;
  }

  #Contact {
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #fba068;
  }
  

  @media screen and (max-width: 500px) {
    
    .imageCrop {
        width: 150px;
        height: 150px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

    .welcomeSection p {
        font: inherit;
        font-size: 18px;
        color: rgb(255, 240, 213);
        grid-row: 2;
        grid-column: 2/4;
        text-align: end;
        padding-left: 5%;
      }

      .disclaimer h3 {
        font-size: 18px;
        color: #FF914D;
        margin: 1vh 0;
      }

  }

  @media (min-width:501px) and (max-width:1000px) {
    .disclaimer h3 {
      font-size: 18px;
      color: #FF914D;
      margin: 1vh 0;
    }
  }