<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="background-image"></div>
    <main>
        <section class="header">
          <div id="name"> Irene Huebra Garcia </div>
          <div id="menu">
            <ul>
              <li><a routerLink="/home"> PORTFOLIO </a></li>
              <li id="separators">|</li>
              <li><a routerLink="/about"> ABOUT </a></li>
              <li id="separators">|</li>
              <li><a href="https://drive.google.com/file/d/1bEWn208EJUBmViB4Ti3niKmRocy-ltqn/view?usp=sharing" target="_blank" rel="noopener noreferrer"> RESUME </a></li>
            </ul>
          </div>
        </section>
        <section class="welcomeSection">
          <h1>Hello World!</h1>
          <p class="commandBox">
            <br> <span style="color:#32cbf1"> $ Welcome to my portfolio! </span><br> <br> 
            <span style="color:#32cbf1"> $ </span> I'm <span style="color:#32cbf1">[Irene]</span>, a passionate computer science student specializing in <span style="color:#32cbf1">[Software Engineering]</span>.
            <br><br>  <span style="color:#32cbf1"> $ </span> Here, you'll find a showcase of my <span style="color:#32cbf1">["projects", "skills", and "experiences"]</span> that highlight my journey in the tech world.
            <br><br>  <span style="color:#32cbf1"> $ </span> Let's connect and see how we can build the future together!
            <br><br>  <span style="color:#32cbf1"> $ </span> 
          </p>
        </section>

        <section class="projectsHeader">
          <h1 class="projectTitle"> Projects </h1>
        </section>
        <section class="projects-container">
          <div *ngFor="let project of projectsTemplateList" class="card">
              <div class="card_content">
                <div *ngIf="project.id % 2 !== 0" class="card_image">
                  <img [src]="project?.photo" alt="{{ project.name }} project photo">
                </div>
                <div class="card_info" style="align-items: left;">
                  <h2 class="card_title"> {{project.name}}</h2>
                  <p class="card_date">Date Started: {{ project.dateStarted }}</p>
                  <p class="card__description" [innerHTML]="project.description"></p>
                  <div class="bottomPanel"> 
                    <div class="skillImg">
                      <img *ngFor="let skill of project.skills" [src]="'/assets/skills/' + skill.toLowerCase() + '.png'" alt="{{skill}}">
                    </div>
                    <div class="links">
                      <p *ngIf="project.linkToProject"><a [href]="project.linkToProject" target="_blank">Visit Project</a></p>
                      <p><a [href]="project.linkToGithub" target="_blank">View Project GitHub</a></p>
                    </div>
                  </div>
                </div>
                <div *ngIf="project.id % 2 == 0" class="card_image">
                  <img [src]="project?.photo" alt="{{ project.name }} project photo">
                </div>
            </div>
          </div>
        </section>

        <h1 class="ContactTitle">Contact Info</h1>
        <section class="disclaimer"> 
          <div id="Contact">
            <ul>
              <li><span style="color:#32cbf1"> $ </span><a href="https://www.linkedin.com/in/irene-huebra/"> LinkedIn</a> </li>
              <li> <span style="color:#32cbf1"> $ </span><a href="mailto:irene@huebra.es"> Email </a> </li>
            </ul>
          </div>
          <h3> <span style="color:#32cbf1"> $ </span> To learn more about me please visit the <a routerLink="/about"> [About] </a> page!</h3>
        </section>
        <router-outlet></router-outlet>
      </main>
    
      <div id="particles-js"></div>
</body>
</html>
