body {
    font-family: monospace;
}

.header {
    background-color: rgb(0,0,0, .8);
}

.aboutMeSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 3;
}

.aboutMeSection h1 {
    margin-top: 150px;
    width: 100%;
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
}

.aboutContent {
    background-color: rgb(0,0,0, .8);
    display: flex;
    flex-direction: row;
    gap: 2%;
    border:solid #dddddd 2px;
    border-radius: 10px;
    overflow: hidden;
}

.aboutContent p {
    font-size: 20px;
    width: 60%;
    border: none;
    background: none;

}
.aboutContent img {
    width: 40%; /* Make the image cover 40% of the container's width */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the assigned space */
    object-position: center; /* Center the image */
}


.commandBox a {
    text-decoration: underline;
    color: inherit;
}

@media (max-width: 1250px) {
    .aboutContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutContent img {
        width: 100%;
    }
    .aboutContent p {
        width: 100%;
    }
}


.hobbiesTitle {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 3;
}

.hobbies {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 10%;
    color: white;
    background-color: black;
    position: relative;
    z-index: 3;
}