<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div id="background-image"></div>
    <main>
        <section class="header">
              <div id="name"> Irene Huebra Garcia </div>
              <div id="menu">
                <ul>
                  <li><a routerLink="/home"> PORTFOLIO </a></li>
                  <li id="separators">|</li>
                  <li><a routerLink="/about"> ABOUT </a></li>
                  <li id="separators">|</li>
                  <li><a href="https://drive.google.com/file/d/1Z1jLdTRUWRNvrHsUJ-0DNwoca-8bHvN-/view?usp=sharing" target="_blank" rel="noopener noreferrer"> RESUME </a></li>
                </ul>
              </div>
        </section>

        <section class="aboutMeSection">
          <h1>About Me</h1>
          <div class="aboutContent">
            <div class="commandBox2">
              <p>
                <br> <span style="color:#32cbf1"> $ Who am I beyond Computer Science? </span> <br><br>
                <span style="color:#32cbf1"> $ </span> I've been an <span style="color:#32cbf1">[<!-- <a href="#artSection"> -->artist<!--</a> -->, reader,
                photographer, baker, basketball player, coffee lover]</span><br><br>
                <span style="color:#32cbf1"> $ </span> My bucket list includes <span style="color:#32cbf1">[travel, skydiving, hiking, living by the water]</span> and more <br><br>
                <span style="color:#32cbf1"> $ </span> I hope to continue finding new hobbies and checking off my bucket list all while
                fulfilling my passion for Computer Science <br>
              </p>
              <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                <span id="userInputContainer"><span style="color:#32cbf1"> $ </span><input type="text" id="userInput" name="section" placeholder="Type your command here..." ngModel required></span>
              </form> 
            </div>
            <img src="/assets/fullwidthAboutMePhoto.jpg" alt="Photo of author">
          </div>
        </section>

          <section class="aboutMeSection">
            <h1>Education</h1>
            <div class="section">
              <div #educationContent class="educationContent">
                <img src="../assets/purdueLogo.png" alt="Purdue University Logo">
                <p>
                  I currently attend <span style="color:#32cbf1"> Purdue University </span> where I'm pursuing a <span style="color:#32cbf1">Bachelor's degree in Computer Science</span> and 
                  a <span style="color:#32cbf1">Minor in Philosophy</span>.
                  I've taken courses such as...<br> <span style="color:#32cbf1"> $ </span> Problem Solving Object-Oriented Programming <span style="color:#32cbf1">(Java)</span><br>
                  <span style="color:#32cbf1"> $ </span> Programming in <span style="color:#32cbf1">C</span><br>
                  <span style="color:#32cbf1"> $ </span>  Foundations of Computer Science <span style="color:#32cbf1">(Discrete Math)</span><br>
                  <span style="color:#32cbf1"> $ </span>Data Structures and Algorithms <span style="color:#32cbf1">(C++)</span><br>
                  <span style="color:#32cbf1"> $ </span>Computer Architecture<br> 
                  I'll be taking more to work towards completion of the <span style="color:#32cbf1">Software Engineering</span> and 
                  <span style="color:#32cbf1">Programming Languages</span> tracks that my school offers!
                </p>
              </div>
            </div>
          </section>
      

        <!-- 
        <section class="aboutMeSection">
        <h1 class="hobbiesTitle">Hobbies</h1>
        <section class="hobbies">
            <div id="artSection">
                <h2>Art</h2>
            </div>

        </section>
      </section>
        -->

      </main>
      <div id="particles-js"></div>
</body>
</html>