<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div id="background-image"></div>
    <main>
        <section class="header">
              <div id="name"> Irene Huebra Garcia </div>
              <div id="menu">
                <ul>
                  <li><a routerLink="/home"> PORTFOLIO </a></li>
                  <li id="separators">|</li>
                  <li><a routerLink="/about"> ABOUT </a></li>
                  <li id="separators">|</li>
                  <li><a href="https://drive.google.com/file/d/1bEWn208EJUBmViB4Ti3niKmRocy-ltqn/view?usp=sharing" target="_blank" rel="noopener noreferrer"> RESUME </a></li>
                </ul>
              </div>
        </section>
      </main>
</body>
</html>