body {
    font-family: monospace;
    color: #eaeaea;
    font-size: 20px;
    font-weight: 400;
}

.commandBox2 {
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    text-align: left;
    font-family: monospace;
    color: #eaeaea;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
}


#userInputContainer::after {
    content: "";
    width: 10px;
    height: 25px;
    background: #d3d3d3;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
  }
  #userInputContainer:focus-within::after {
    display: none;
  }

  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }




.aboutMeSection {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 3;
}

.aboutMeSection h1 {
    
    width: 100%;
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
}

.aboutContent {
    background-color: rgb(0,0,0, .8);
    display: flex;
    flex-direction: row;
    gap: 2%;
    border:solid #dddddd 2px;
    border-radius: 10px;
    overflow: hidden;
}

.aboutContent p {
    font-size: 20px;
    width: 100%;
    border: none;
    background: none;

}
.aboutContent img {
    width: 40%; /* Make the image cover 40% of the container's width */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the assigned space */
    object-position: center; /* Center the image */
}


.commandBox a {
    text-decoration: underline;
    color: inherit;
}

@media (max-width: 1250px) {
    .aboutContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutContent img {
        width: 100%;
    }
    .aboutContent p {
        width: 100%;
    }
}


.educationContent {
    background-color: rgb(0,0,0, .8);
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    border:solid #dddddd 2px;
    border-radius: 10px;
    overflow: hidden;
    padding: 2%;
    margin-bottom: 10%;
    text-align: left;
    line-height: 2;
}

.educationContent img {
    max-width: 300px;
    max-height: 300px;
    padding-left: 5%;
}




.hobbiesTitle {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 3;
}

.hobbies {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 10%;
    color: white;
    background-color: black;
    position: relative;
    z-index: 3;
}